.rules{

    // margin-top: 150px;
    width: 100%;
    // background-color: black;
    display: flex;
    justify-content: center;
    button{
        border: none;
        padding: 15px 37px;
        border: solid 2px hsl(217, 16%, 45%);
        background: transparent;
        border-radius: 6px;
        color: #FFF;
        cursor: pointer;
    }
}

@media screen and(min-width: 1024px) {
    .rules{
        justify-content: flex-end;
    }
}