$backgroundColor: linear-gradient(0deg, rgba(20,21,57,1) 50%, rgba(31,55,86,1) 50%);

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
html{
    height: 100%;
}
body {
    margin: 0;
    height: 100%;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
      'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
      sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    padding: 30px;
    // background: rgb(20,21,57);
    background: radial-gradient(hsl(214, 47%, 23%), hsl(237, 49%, 15%));
}

#root{
    height: 100%;
}

.app-container{
    display: flex;
    height: 100%;
    flex-direction: column;
    justify-content: space-between;
}
  
  